---
- name: restart ssh.socket
  when: ssh_socket_is_active.rc == 0
  systemd_service:
    name: ssh.socket
    state: restarted
    daemon_reload: true

- name: restart ssh
  service:
    name: ssh
    state: restarted

- name: persist rules
  community.general.iptables_state:
    ip_version: "ip{{ item.ip_version }}"
    state: saved
    path: "/etc/iptables/rules.{{ item.ip_version }}"
  loop:
    - { ip_version: "v4" }
    - { ip_version: "v6" }

- name: apply netplan
  command: sudo netplan apply
  async: 45
  poll: 0
