[Unit]
Description=Collect needrestart metrics for prometheus-node-exporter
ConditionPathExists=/usr/share/prometheus-node-exporter-collectors/needrestart_info.py

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/share/prometheus-node-exporter-collectors/needrestart_info.py
StandardOutput=truncate:/var/lib/prometheus/node-exporter/needrestart.prom

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/prometheus/node-exporter
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
LockPersonality=true
