---
name: Verify Push

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/run-lint.yml

  integration-test:
    uses: ./.github/workflows/run-integration-test.yml
