name: Run lint

# yamllint disable-line rule:truthy
on:
  workflow_call:

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Check out project
        uses: actions/checkout@v4

      - name: Install editorconfig-checker
        uses: editorconfig-checker/action-editorconfig-checker@v2

      - name: Check .editorconfig compliance
        run: editorconfig-checker
