name: Run lint

# yamllint disable-line rule:truthy
on:
  workflow_call:

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - name: Check out project
        uses: actions/checkout@v3

      - name: Check project formating
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --check .
